img{
    width: 400px;
    height: 225px;
}
.image-section{
    display: flex;
    justify-content: center;
}
.section-style{
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
}
body{
    text-align: center;
    background-color: aquamarine;
}
div{
    margin-top: 15px;
}